/* esp32-basic devicetree overlay
 * Demonstrates how to enable and alias GPIO, ADC and PWM devices.
 * Adjust pin numbers to match your board variant.
 */

//#include <zephyr/dt-bindings/pwm/pwm.h>

&gpio0 {
    status = "okay";
};

/ {
    aliases {
        /* led0 should alias the LED node label, not the gpio controller */
        userled = &led0;
				userswitch = &btn0;
        useradc = &adc0;
        useradcch = &adc0_ch0;
    };

    leds {
        compatible = "gpio-leds";
        led0: d13 {
            gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
        };
    };

		buttons {
        compatible = "gpio-keys";
        debounce-interval-ms = <50>;
        polling-mode;

        btn0: d10 {
            gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
        };
    };
};

&adc0 {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    adc0_ch0: channel@0 {
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1_4";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,vref-mv = <3894>;
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };
};