/* esp32-basic devicetree overlay
 * Demonstrates how to enable and alias GPIO, ADC and PWM devices.
 * Adjust pin numbers to match your board variant.
 */

#include <zephyr/dt-bindings/pwm/pwm.h>

&gpio0 {
    status = "okay";
};

/ {
    aliases {
        /* led0 should alias the LED node label, not the gpio controller */
        userled = &led0;
				userswitch = &btn0;
    };

    leds {
        compatible = "gpio-leds";
        led0: d13 {
            gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
        };
    };

		buttons {
        compatible = "gpio-keys";
        debounce-interval-ms = <50>;
        polling-mode;

        btn0: d10 {
            gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
        };
    };
};