/* STM32F4-Discovery devicetree overlay
 * Adjust pin numbers if your board variant differs.
 */

/* esp32-basic devicetree overlay
 * Demonstrates how to enable and alias GPIO, ADC and PWM devices.
 * Adjust pin numbers to match your board variant.
 */

#include <zephyr/dt-bindings/pwm/pwm.h>
#include <zephyr/dt-bindings/i2c/i2c.h>

&gpiob {
    status = "okay";
};

&gpioc {
    status = "okay";
};

/* Enable SPI2 for the ST7789 display */
&spi2 {
    status = "okay";
    pinctrl-0 = <&spi2_sck_pb13 &spi2_mosi_pb15>;
    pinctrl-names = "default";
    cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;  /* PB12 for chip select */
};

/ {
    aliases {
        /* led0 should alias the LED node label, not the gpio controller */
        userled = &led0;
				userswitch = &user_button;
        useradc = &ads1115;
        useradcch = &adc1_ch0;
    };

	chosen {
		/* make the ST7789v the default display for Zephyr */
		zephyr,display = &st7789v_my240;
	};

  leds {
    compatible = "gpio-leds";
    led0: d13 {
        gpios = <&gpiod 13 GPIO_ACTIVE_HIGH>; /* PC13 is user LED on many STM32F4 variants */
    };
  };

  /* ST7789 240x240 display connected via SPI2 */
  mipi_dbi {
    compatible = "zephyr,mipi-dbi-spi";
    spi-dev = <&spi2>;
    dc-gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>;     /* PB0 for DC (data/command) */
    reset-gpios = <&gpiob 1 GPIO_ACTIVE_LOW>;   /* PB1 for RESET (active low) */
    #address-cells = <1>;
    #size-cells = <0>;

    st7789v_my240: st7789v@0 {
      compatible = "sitronix,st7789v";
      status = "okay";
      reg = <0>;
      mipi-max-frequency = <20000000>;
      width = <240>;
      height = <240>;
      x-offset = <0>;
      y-offset = <0>;
      vcom = <0x19>;
      gctrl = <0x35>;
      mdac = <0x00>;
      lcm = <0x2c>;
      colmod = <0x05>;
      gamma = <0x01>;
      porch-param = [0c 0c 00 33 33];
      cmd2en-param = [5a 69 02 01];
      pwctrl1-param = [a4 a1];
      pvgam-param = [d0 04 0d 11 13 2b 3f 54 4c 18 0d 0b 1f 23];
      nvgam-param = [d0 04 0c 11 13 2c 3f 44 51 2f 1f 1f 20 23];
      ram-param = [00 f0];
      rgb-param = [40 02 14];
      mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
    };
  };

};

		&i2c1 {
			status = "okay";
			pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb9>;
			pinctrl-names = "default";
			clock-frequency = <I2C_BITRATE_FAST>;

			ads1115: ads1115@48 {
				compatible = "ti,ads1115";
				reg = <0x48>;
				#io-channel-cells = <1>;
				status = "okay";

				channel@0 {
					reg = <0>;
					zephyr,gain = "ADC_GAIN_1";
					zephyr,reference = "ADC_REF_INTERNAL";
					zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
					zephyr,resolution = <15>;
				};

				channel@1 {
					reg = <1>;
					zephyr,gain = "ADC_GAIN_1";
					zephyr,reference = "ADC_REF_INTERNAL";
					zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
					zephyr,resolution = <15>;
				};

				channel@2 {
					reg = <2>;
					zephyr,gain = "ADC_GAIN_1";
					zephyr,reference = "ADC_REF_INTERNAL";
					zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
					zephyr,resolution = <15>;
				};

				channel@3 {
					reg = <3>;
					zephyr,gain = "ADC_GAIN_1";
					zephyr,reference = "ADC_REF_INTERNAL";
					zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
					zephyr,resolution = <15>;
				};
			};
		}

&adc1 {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    adc1_ch0: channel@0 {
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1_4";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,vref-mv = <3894>;
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };
};

